/* SEARCH_SERVICE */
.search_service .carousel-inner {
    height: 680px;
    position: relative;

}

.search_service .carousel-item {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 32px;

}

.search_service .carousel-item.carousel-img-1 {
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049983/bg-hero-1-1792-x1.png");
}

.search_service .carousel-item.carousel-img-2 {
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/2413b8415dda9dbd7756d02cb87cd4b1-1599595203045/bg-hero-2-1792-x1.png);
}

.search_service .carousel-item.carousel-img-3 {
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/d14871e2d118f46db2c18ad882619ea8-1599835783966/bg-hero-3-1792-x1.png);
}

.search_service .carousel-item.carousel-img-4 {
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/93085acc959671e9e9e77f3ca8147f82-1599427734108/bg-hero-4-1792-x1.png);
}

.search_service .carousel-item.carousel-img-5 {
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049970/bg-hero-5-1792-x1.png);
}

.search_service .carousel-item p {
    padding-bottom: 32px;
    color: white;
    display: inline-block;
    margin: 0;
}

.search_service .carousel-item.carousel-img-2 p::before, .search_service .carousel-item.carousel-img-5 p::before {
    content: "";
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/five_stars.e5c37f5.svg) no-repeat;
    background-size: 70px;
    content: "";
    display: block;
    height: 17px;
    background-size: 77px;
}

.search_service .carousel-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    padding: 0 32px;
    display: flex;
    flex-direction: column;

    height: 680px;
    width: 56%;
}

.search_service .carousel-content .content-top {
    padding: 149px 0 75px;
}

.search_service .carousel-content .content-top h1 {
    color: white;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 24px
}

.content-top-form {
    margin-top: 0;
}

.search_service .carousel-content .content-top h1 span i {
    font-family: 'Domaine Display', sans-serif;
}

.search_service .content-top-form form {
    position: relative;
    display: flex;
    border: none;
}

.search_service .content-top-form form:focus, .search_service .content-top-form input[type="search"]:focus {
    outline: none;
    box-shadow: none;
}

.search_service .content-top-form span {
    width: 16px;
    height: 16px;
    top: 16px;
    left: 16px;
    display: inline-block;
    border: none;
    fill: #7a7d85;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search_service .content-top-form input[type="search"] {
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    height: 48px;
    width: 100%;
    padding: 0 7px 0 44px;
    border: none;
    border-color: #95979d;
    outline-offset: 0;
}

.search_service .content-top-form button {
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    padding: 12px 24px;
    font-weight: 700;
    height: 48px;
    background-color: #1dbf73;
    color: white;
    border: none;
}

.search_service .content-top-popular {
    display: flex;
    padding-top: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    color: white;
}

.search_service .content-top-popular ul {
    display: flex;
    margin: 0 0 0 12px;
    width: 100%;
}

.search_service .content-top-popular ul li {
    margin-right: 12px;
    display: flex;
    white-space: nowrap;
}

.search_service .content-top-popular ul li a {
    padding: 1px 12px 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    line-height: 24px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.search_service .content-top-popular ul li:hover a {
    cursor: pointer;
    background-color: white;
    color: #404145;
}

.search_service .content-bottom {
    width: 240px;
    display: flex;
}

.search_service .content-bottom-video, .search_service .content-bottom video {
    width: 100%;
    height: 100%;
}

.search_service .content-bottom video {
    border-radius: 4px;
    object-fit: fill;
}

.search_service .carousel-content a.discover {
    display: flex;
    padding-top: 24px;
    align-items: center;
    width: 240px;
    color: white;
    font-weight: 600;
    justify-content: space-between;
}

.search_service .carousel-content .discover p {
    border-bottom: 2px solid #1dbf73;
    white-space: nowrap;
    font-weight: 600;
    margin: 0;
}

.search_service .carousel-content .discover span {
    width: 20px;
    height: 20px;
    fill: white;
    display: flex;
    align-items: center;
    position: relative;
}

.search_service .carousel-content .discover span svg {
    top: 0;
    width: 100%;
    height: 100%;
    /* position: absolute; */
}


.logo_trusted {
    background-color: #fafafa;
    margin-bottom: 96px;
}

.logo_trusted_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_trusted_content span {
    padding-right: 20px;
    color: #b5b6ba;
    font-weight: 600;
}

.logo_trusted_content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 95px;
    padding: 0 24px;
}

.logo_trusted_content ul li {
    display: inline-block;
    padding-right: 60px;
}